.credits-icon {
  margin-top: 2rem;
  margin-bottom: 8rem;

}

.about-page {
  padding: 0 15px;
  position: relative;



  .title {
    position: fixed;
    box-sizing: border-box;
    background-color: black;
    width: 100%;


    h1 {
      margin: 0;

    }

    .blue-box {
      position: absolute;
      left: -38px;
      display: block;
      z-index: -19;
      background-color: blue;
      width: 35px;
      height: 35px;
    }
  }


  .content {
    padding-top: 40px;
  }
}