.favourites {
  margin: 0 15px;
  position: relative;
  min-height: 90vh;

  .title {
    position: fixed;
    z-index: 500;
    width: 100%;
    background-color: black;
    padding-top: 26px;
  }

  h2 {
    font-size: 25px;
    z-index: 999;
    background-color: black;
    margin: 0;

  }

  .blue-box {
    position: absolute;
    top: 27px;
    left: -39px;
    z-index: -19;
    background-color: blue;
    width: 35px;
    height: 35px;
  }

  .movie-grid-container {
    padding-top: 90px;
  }

}

@media screen and (min-width: 700px) {
  .favourites h2 {
    font-size: 30px;
    font-family: shapiro-95-extd;
  }
}