@use "mixins" as *;
@use "var" as *;


//tablet media query
@media screen and (min-width:$tabletPortrait) {

    .drop-down {
        @include select-webkit;
        @include drop-down;
    }

    .nav-header {
        display: flex;
        justify-content: flex-start;
        background: black;

    }

    

}