.searchInput {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;

}

input[type=text]:focus {
  border: 3px solid blue;
}

.search {
  position: sticky;
  top: 70px;
  z-index: 500;
  background-color: black;
  padding-bottom: 20px;
  margin: 0 15px;

  .blue-box {
    position: absolute;
    left: -38px;
    display: block;
    z-index: -19;
    background-color: blue;
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width:878px) {
  .searchInput {
    height: 50px;
    font-size: larger;
  }

  .search {
    h2 {
      font-size: 30px;
    }
  }

}