@use "var" as *;

.more-info-heading {
  width: auto;
  color: white;
  background-color: BLACK;
  border-bottom: 2px solid white;
  border-top: black;
  border-left: black;
  border-right: black;
  padding-top: 1rem;
  position: sticky;
  margin: 0 15px;
  margin-bottom: 15px;
  top: 70px;
}

h2.more-info-title {
  font-family: shapiro-45-welter-text;
  font-size: 22px;
  color: white;
  margin: 5px;
  margin-bottom: 1px;
  border: none;
  text-transform: capitalize;
  font-weight: lighter;
}

.credits {
  margin-bottom: 16px;
}

.rating-and-fav {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.single-card {
  max-width: 450px;
  background-color: #1D1D1D;
  margin: 0 auto;
  padding: 25px;
  border-radius: $rounded-border;
  position: relative;

  h1,
  h2,
  h3,
  p,
  img {
    margin: 0;
  }

  .display-mobile {
    display: block;
    padding-bottom: 1.5em;
  }

  .info {
    margin-bottom: 16px;
  }

  .single-poster {
    img {
      margin: 0 auto;
    }
  }

  h3 {
    color: white;
    font-family: grotesque-bold;
    margin-top: 1rem;
  }

  .first-info {
    p {
      font-family: shapiro;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .overview {
    p {
      font-family: shapiro;
      margin-top: 1rem;
    }
  }

  .credits {
    h3 {
      margin-bottom: 0;
    }

    p {
      font-family: shapiro;
      margin-top: 0;
    }
  }

  .age-rating {
    font-family: shapiro-55-middle-extd;
    margin-top: 1.5rem;
  }

  .display-tablet,
  .display-desktop {
    display: none;
  }

  .tablet-card {
    display: grid;
    margin: 0;
    padding: 0;
  }

  svg {
    fill: blue;
  }

  button {
    width: 30px;
    height: 30px;
    padding: 0;
    background: none;
    color: inherit;
    border: none;
  }

  .trailer {

    button {
      border: solid 1px white;
      width: fit-content;
      color: white;
      height: fit-content;
      padding: 10px;
      margin-top: 10px;
    }

    iframe {
      position: absolute;
      z-index: 9;
      top: 25px;
      left: 0;
      right: 0;
      height: 300px;
    }

    .close-button {
      position: absolute;
      background-color: #1D1D1D;
      top: 50px;
      left: 30px;
      z-index: 10;
    }
  }

}

//end .single-card



@media (min-width:790px) {
  .single-card {
    display: flex !important;
    flex-direction: column;
    margin: 0 auto;

    min-width: (748px);

    h2 {
      font-family: grotesque-bold;
      margin-bottom: 0;
    }

    .display-mobile {
      display: none;
    }

    .display-tablet {
      display: block;
    }

    .tablet-card {
      width: auto;
      display: flex;
      flex-direction: row-reverse;
      border-radius: $rounded-border;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 1rem;
      margin-bottom: 0;
      height: 450px;

      .first-info {
        display: flex;
        gap: 1rem;
      }
    }

    .rating-and-fav {
      p {
        font-size: 1.5em;
        line-height: 16px;
      }
    }

    .trailer {
      iframe {
        z-index: 9;
        // top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
      }

      .close-button {
        background-color: #1D1D1D;
        top: auto;
        bottom: 30px;
        left: 30px;
        z-index: 10;
      }
    }


  }
}

//end tablet mediaquery

@media(min-width:1638px) {

  .single-card {
    min-width: (1248px);

    h2 {
      font-size: 2.5em;
    }

    h3 {
      font-size: 1.7em;
    }

    p {
      font-size: 1.2em;
    }

    .info {
      min-height: 600px;
      width: 100%;
    }

    .overview p {
      width: 600px;
    }

    .rating-and-fav {
      font-size: larger;

      button {
        line-height: 2px;
        transform: scale(1.5);
      }
    }
  }

  .desktop-media {
    display: flex;
  }

  .display-desktop {
    display: block !important;
  }

  .display-tablet {
    display: none !important;
  }
}